/* Color Theme URL: https://coolors.co/ffffff-3f4b3b-44633f-5a9367-5cab7d*/
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
:root {
    --rifle-green: #3F4B3B;
    --hunter-green: #44633F;
    --russian-green: #5A9367;
    --shiny-shamrock-green: #5CAB7D;
}
body.using-mouse :focus {
    outline: none;
}


.header {
    height: 6rem;
    background: var(--hunter-green);
    color: white;
    font-size: 4rem;
    padding: 2rem 0 0 4rem;
    font-weight: bold;
}

.new-book { 
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    background-color: var(--hunter-green);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}

.new-book:hover {
    transform: scale(1.05);
}

.new-book:active {
 
    filter: brightness(95%);
    transform: scale(0.96);
}

.bg-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}

.modal-content {
    width: 45rem;
    background-color: white;
    border-radius: 0.4rem;
    position: relative;
    padding: 3rem 4rem;
    box-sizing: border-box;
}
.modal-content h2 {
    font-size: 2.6rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2rem;
}

form > div {
    position: relative;
}


form input[type="text"], form input[type="number"] {
    width: 100%;
    height: 4rem;
    border: 2px solid rgb(220,220,220);
    border-radius: 0.4rem;
    box-shadow: none;
    appearance: none;
    font-size: 1.6rem;
    padding: 0 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

form input[type="text"] + label, form input[type="number"] + label{
 color: #999;
 position: absolute;
 left: 1.3rem;
 top: 1.25rem;
 font-size: 1.6rem;
 background-color: white;
 transition: all 0.2s ease-out;

}
form input[type="text"]:focus + label, form input[type="number"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label, form input[type="number"]:not(:placeholder-shown) + label {
    transform: translate(0,-1.9rem) scale(0.8);
}



form input[type="text"]:not(:placeholder-shown) + label, form input[type="number"]:not(:placeholder-shown) + label {
    color: black
}
form input[type="text"]:not(:placeholder-shown), form input[type="number"]:not(:placeholder-shown) {
    border-color: black;
}
form input[type="text"]:focus + label, form input[type="number"]:focus + label {
    color: var(--russian-green)
}
form input[type="text"]:focus, form input[type="number"]:focus {
    border-color: var(--russian-green);
}
form > div {
    margin-top: 4rem;
}
form label[for="read-book"] {
    display: block;
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
}

input[type="checkbox"] {
    background-color: gray;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    position: relative; 
    vertical-align: -5px;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.5rem;
    right: 0.1rem;
    top: -0.03rem;
    color: white;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

.modal-buttons {
    margin-top: 2rem;
    text-align: right;
}

.modal-buttons button {
    display: inline-block;
    margin-left: 0.6rem;
    display: inline-block;
    font-size: 1.7rem;
    border: none;
    padding: 1.2rem 2rem;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}
.submit {
    background-color: var(--russian-green);
    color: white;
}
.cancel {
    background-color: #EEE;
    color: black;
}

.close {
    position: absolute;
    top: 0;
    right: 1.4rem;
    font-size: 4.2rem;
    transform: rotate(45deg);
    user-select: none;
    -webkit-user-select: none;
    color: darkgray;
}

.close:hover {
    filter: brightness(110%);
}

.books-display {
    padding: 3em 4rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    grid-auto-rows: auto;
    align-items: center;
    justify-items: start;
}

.book-container {
    border: 4px solid #CCC;
    padding: 1rem;
    height: 23rem;
    width: 20rem;
    text-align: center;
    background-color: #EFEFEF;
    box-sizing: border-box;
    position: relative;
}

.book-container .book-title {
    font-weight: bold;
    font-size: 2.2rem;
    width: 100%;
    word-wrap: break-word;
    color: var(--russian-green);
    margin: 1rem 0;
}

.book-container .book-author {
    color: black;
    font-size: 1.7rem;
    margin: 1rem 0;
    word-wrap: break-word;
}

.book-container .book-pages {
    color: #222;
    font-size: 1.6rem;
    margin: 1rem 0;
    word-wrap: break-word;
}

.book-container .book-read {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1.7rem;
    font-weight: 500;
}

.book-container .book-read.completed {
    color: var(--russian-green);
}

.book-container .book-read:hover {
    cursor: pointer;
    text-decoration: underline;
}
.book-container .options button {
    border: none;
    margin: 0 0.6rem;
    padding: 0;
}
.book-container .options img {
    width: 1rem;
    height: 1rem;
    filter: opacity(50%);
}

.book-container .options img:hover {
    filter: opacity(80%);
    cursor: pointer;
}