/* Color Theme URL: https://coolors.co/ffffff-3f4b3b-44633f-5a9367-5cab7d*/

:root {
    --rifle-green: #3F4B3B;
    --hunter-green: #44633F;
    --russian-green: #5A9367;
    --shiny-shamrock-green: #5CAB7D;
}

