/* Color Theme URL: https://coolors.co/ffffff-3f4b3b-44633f-5a9367-5cab7d*/
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
:root {
    --rifle-green: #3F4B3B;
    --hunter-green: #44633F;
    --russian-green: #5A9367;
    --shiny-shamrock-green: #5CAB7D;
}
body.using-mouse :focus {
    outline: none;
}


.header {
    height: 6rem;
    background: var(--hunter-green);
    color: white;
    font-size: 4rem;
    padding: 2rem 0 0 4rem;
    font-weight: bold;
}

.new-book { 
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    background-color: var(--hunter-green);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.new-book:hover {
    transform: scale(1.05);
}

.new-book:active {
 
    filter: brightness(95%);
    transform: scale(0.96);
}